.card-product {
  overflow: hidden;
  height: 120px;
  background: #F2F2F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 500px;
  margin: 10px;
}

.card-product.responsive {
   width: 100%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards {
  text-decoration-style: none;
  color: azure;
}

.cards:hover {
  color: beige;
  text-decoration: none;
  font-size: larger;
  transition: 0s background-color;
  transition-delay: 2s;

}
